In [1]:
from preprocessing import *
from words_matching import *

In [2]:
txt = "../text/phonemisation/EN/LibriVox/1000worlds_0709_librivox_64kb_mp3_text"
with open(os.path.join(txt, "phon_phrases_processed.pkl"), 'rb') as infile:
    df = pickle.load(infile)

In [3]:
phon_dict = phoneme_statistics(df['phonemised_phrase'])

100%|██████████| 8/8 [00:19<00:00,  2.44s/it]

In [4]:
w_df, nw_df = get_valid_ngrams(phon_dict)

In [5]:
nw_df_nobound = nw_df[nw_df['form_bound'].str.count('/w')==1]
nw_df_onebound = nw_df[nw_df['form_bound'].str.count('/w')==2]
nw_df_twobound = nw_df[nw_df['form_bound'].str.count('/w')==3]

In [7]:
df.groupby(['family_id'])

KeyError: 'family_id'

In [12]:
nw_df.groupby("structure").sum()

                 count
structure
C C C V | C C V      5
C C C V | C V       39
C C C V | C V C     31
C C C V | V         34
C C C V | V C       32
C C V | C C C V      4
C C V | C C V      101
C C V | C V        606
C C V | C V C      548
C C V | C V C C    216
C C V | V          308
C C V | V C        286
C V C C | C C V     94
C V C C | C V     1057
C V C C | C V C    767
C V C C | V       1434
C V C C | V C     1365
C V C | C C C V     23
C V C | C C V      416
C V C | C V       3596
C V C | C V C     2811
C V C | C V C C    951
C V C | V         2875
C V C | V C       2664
C V | C C C V       14
C V | C C V        288
C V | C V         1976
C V | C V C       1698
C V | C V C C      616
C V | V           1002
C V | V C          918
V C | C C C V       36
V C | C C V        633
V C | C V         5562
V C | C V C       4480
V C | C V C C     1389
V C | V           4005
V C | V C         3590
V | C C C V         24
V | C C V          363
V | C V           2438
V | C V C         2160
V | C V C C        787
V | V             1063
V | V C            978

In [13]:
nw_df

,form,form_bound,syll,structure,count
0,ɪ ə,ɪ /w ə,ɪ | ə,V | V,1
1,ɪ ɑ,ɪ /w ɑ,ɪ | ɑ,V | V,7
2,ɪ ɛ,ɪ /w ɛ,ɪ | ɛ,V | V,28
3,ɪ ɛ,ɪ /w ɛ,ɪ | ɛ,V | V,13
4,ɪ ʌ,ɪ /w ʌ,ɪ | ʌ,V | V,46
...,...,...,...,...,...
31161,l θ ɪ f ə ɹ ɹ,l θ ɪ /w f ə ɹ ɹ,l θ ɪ | f ə ɹ ɹ,C C V | C V C C,1
31162,ɡ ə ɹ s ɪ t s,ɡ ə ɹ /w s ɪ t s /w,ɡ ə ɹ | s ɪ t s,C V C | C V C C,1
31163,l ə s s t ɹ ʌ,l ə s /w s t ɹ ʌ,l ə s | s t ɹ ʌ,C V C | C C C V,1
31164,v ə n ɡ ɪ v z,v ə n /w ɡ ɪ v z /w,v ə n | ɡ ɪ v z,C V C | C V C C,1
31165,ð ɛ ɹ w ɛ l θ,/w ð ɛ ɹ /w w ɛ l θ /w,ð ɛ ɹ | w ɛ l θ,C V C | C V C C,1

In [6]:
# Here is the loss.

In [ ]:
@staticmethod
def euclidean_distance(p, q):
    size = len(p) if hasattr(p, '__len__') else 1
    return np.linalg.norm(p-q) / size

def freq_loss(self):
    loss = self.euclidean_distance(self.EN.get_nb_spkr(), self.FR.get_nb_spkr())
    return loss/self.nb_spkr_norm